.social-blurb p {
	font-size: 1rem;
    line-height: 1.25em;
    padding-top: 50px;
    color: #272727;
    width: 70%;
    margin: 0 auto;
    text-align: center;
    padding-bottom: 30px;
}
map {
    height: 470px;
    cursor: default !important;
}

}
.contact-form .left-side {
    float: left;
    width: 460px;
}
.contact-form .right-side{
	float: left;
		width: 460;
}
div{
	display: block;
}
