html, body, #MainContainer{
    width: 100%;
    height: 100%;
}
body{
  font-weight: 300;
}
header{
    width: 100%;
    position: relative;
    z-index: 99;
}
#homepage header{
  height: 700px;
}
canvas{
  display:block;
  vertical-align:bottom;
}


/* ---- stats.js ---- */

.count-particles{
  background: #000022;
  position: absolute;
  top: 48px;
  left: 0;
  width: 80px;
  color: #13E8E9;
  font-size: .8em;
  text-align: left;
  text-indent: 4px;
  line-height: 14px;
  padding-bottom: 2px;
  font-family: Helvetica, Arial, sans-serif;
  font-weight: bold;
}

.js-count-particles{
  font-size: 1.1em;
}

#stats,
.count-particles{
  -webkit-user-select: none;
  margin-top: 5px;
  margin-left: 5px;
}

#stats{
  border-radius: 3px 3px 0 0;
  overflow: hidden;
}

.count-particles{
  border-radius: 0 0 3px 3px;
}


/* ---- particles.js container ---- */

#particles-js{
  width: 100%;
  height: 100%;
  background-color: #0a0d0f;
  background-image: url('../img/darkbg.jpg');
  background-size: cover;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  position: absolute;
  z-index: 1;
}
.top-menu__level{
    width: 100%;
    height: 85px;
    position: absolute;
    z-index: 99;
    background-color: transparent;
}
.top-menu__level .container,
footer .container{
    width: 960px;
}
.top-menu__level .nav-left{
    max-width: 300px;
}
.top-menu__level img{
    max-height: 100%;
}
.top-menu__level .nav-item a,.top-menu__level a.nav-item{
    color: #fff;
    text-transform: uppercase;
}
.top-menu__level .nav-center .nav-item{
    padding: 0.5rem 0.75rem;

}
.nav-item{
    padding: 0.5rem 1rem;
    font-size: 0.9rem;  
    font-weight: 600;
    text-decoration: none;
    transition: background .2s ease 0s,color .4s ease 0s;
}
.nav-item.active a, .nav-item:hover a {
    border-bottom: 3px solid #18bdd1;
}
footer {
    position: relative;
}
.footer-content {
    background: #ebebeb;
    padding: 40px 0;
}
.footer-content .container::after, .footer-content .container::before {
    content: " ";
    display: table;
    line-height: 0;
}
.footer-content .container::after {
    clear: both;
}
.footer-block {
    float: left;
    width: 305px;
    margin: 0 20px 0 0;
}
.footer-block.last {
    margin: 0;
}
.bottom-footer {
    background: #272727;
    height: 90px;
    position: relative;
}
.bottom-footer::after, .bottom-footer::before {
    content: " ";
    display: table;
    line-height: 0;
}
.bottom-footer::after {
    clear: both;
}
.bottom-footer .math-is-real {
    margin: 18px auto 0;
    text-align: center;
    overflow: hidden;
    display: table;
}
.bottom-footer .math-is-real .icon {
    width: 28px;
    height: 30px;
    background: url(../img/math-diamond.png) no-repeat;
}
.bottom-footer .math-is-real p {
    font-size: 0.8rem;
    text-transform: uppercase;
    color: #fff;
}
.bottom-footer .copyright {
    color: #fff;
    display: block;
    font-size: 12px;
    left: 30px;
    line-height: 18px;
    position: absolute;
    text-transform: uppercase;
    top: 30px;
}
.logo-footer {
  width: 200px;
  height: auto;
}
.footer-description {
  margin-top: 20px;
  text-align: justify;
}


.item-footer .title-item h4 {
    font-size: 1.3rem;
    color: #18bcd0;
    margin-bottom: 20px;
    text-transform: uppercase;
}
.item-footer .opening {
    padding: 3px 0 7px;
    margin-bottom: 10px;
    border-bottom: 1px solid #fff;
}
.item-footer .opening .title {
    font-size: 18px;
    color: #272727;
    margin-bottom: 3px;
    font-weight: 600;
}
.item-footer .opening .office {
    text-transform: uppercase;
    font-size: 14px;
    margin-bottom: 5px;
}
.item-footer .opening a {
    text-decoration: none;
    text-transform: uppercase;
    color: #18bcd0;
}
.item-footer .opening a:hover{
  color: #1abc9c;
}
.item-footer span{
  display: block;
  margin-bottom: 10px;
}
.item-footer span i{
  font-size: 1.5rem;
  width: 32px;
  height: 32px;
}
.social-links {
    height: 50px;
    position: absolute;
    top: 28px;
    right: 30px;
}
.social-links li {
    float: left;
    list-style: outside none none;
    margin: 0 8px 0 0;
    width: 40px;
    height: 40px;
    background-color: #fff;
}
.social-links .icon .fa{
  color:  #000;
  font-size: 1.7rem;
}

element {
}
.page-wrapper h2 {
    text-align: center;
    font-size: 2rem;
    font-weight: 300;
    margin-bottom: 20px;
    text-transform: uppercase;
    letter-spacing: 3px;
    color: #272727;
}


#backgroundc .container{
  width: 100%;
  height: 100%;

}
.slogan {
  top: 50%;
  position: absolute;
  padding: 15px 100px;
    font-size: 35px;
    text-align: center;
    background: #1abc9c;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 5px 5px 5px 5px;
    color: #fff;
    text-transform: uppercase;
}
.alert-ct {
    margin-top: 20px;
    display: block;
}
