#service #backgroundc {
	background-image: url('../img/header.jpg');
	width: 100%;
	height: 532px;
	background-attachment: fixed;
}

.gkIcons {
    margin: 40px 0 0 0;
}
.gkIcons > div {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    float: left;
    padding: 0 10px;
    width: 33.3%;
}
.gkIconArea {
    background: transparent url(../img/icon_borders.png) no-repeat 0 0;
    height: 270px;
    margin: 0 auto 40px auto;
    position: relative;
    width: 270px;
}
.gkIcons > div h2 {
    font-size: 1.2rem;
    font-weight: 400;
    line-height: 38px;
    margin-bottom: 22px;
    text-align: center;
    letter-spacing: 1px;

}
.gkIcons > div p {
    font-size: 1rem;
    font-weight: 300;
    text-align: center;
}
.gkIconArea > a {
    height: 126px;
    left: 50%;
    margin: -63px 0 0 -63px;
    position: absolute;
    text-indent: -9999px;
    top: 50%;
    -webkit-transition: all .3s ease-out!important;
    -moz-transition: all .3s ease-out!important;
    -ms-transition: all .3s ease-out!important;
    -o-transition: all .3s ease-out!important;
    transition: all .3s ease-out!important;
    width: 126px;
}
.gkRocket {
    background-image: url(../img/gkrocket.png);
}
.gkRocket {
    background-color: #fff;
    background-image: url(../img/gkrocket.png);
    background-position: center top;
}
.gkMobile {
    background-image: url(../img/gkmobile.png);
}


.gkMobile {
    background-color: #fff;
    background-image: url(../img/gkmobile.png);
    background-position: center top;
}
.gkCrop {
    background-image: url(../img/gkcrop.png);
}

.gkCrop {
    background-color: #fff;
    background-image: url(../img/gkcrop.png);
    background-position: center top;
}
.gkCrop:hover{background-color:#fe654c;background-position:center bottom;}

.gkRocket:hover{background-color:#4c90fe;background-position:center bottom;}
.gkMobile:hover{background-color:#fec54c;background-position:center bottom;}
.featured--section .container,
.service--section .container,
.section--ok .container,
.section--okk .container{
	max-width: 960px;
	width: 960px;
}
.title-s {
    text-align: center;
    font-size: 2rem;
    font-weight: 300;
    text-transform: uppercase;
    letter-spacing: 3px;
    color: #272727;
}
.service--section {
	padding-top: 60px;
}
.nd-s {
	text-align: center;
}
.featured--section .container::after, .featured--section .container::before {
    content: " ";
    display: table;
    line-height: 0;
}
.featured--section .container::after{
	clear: both;
}
.section--ok .container::after, .section--ok .container::before {
    content: " ";
    display: table;
    line-height: 0;
}
.section--ok .container::after{
	clear: both;
}

.section--ok {
	background-color:#ebebeb;
	padding: 60px 0px;
}
.section--okk {
	background:#fff;
	padding:100px 0px;
}
.button {
    background-color: #1abc9c;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    color: #fff;
    font-size: 18px;
    height: 54px;
    line-height: 55px;
    margin-top: 20px;
    padding: 0 36px;
    border: none;
}
.ip {
	float: right;
}
.customcentered{
  height: 605px;
}
.bootom-footer {
    background: #272727;
    height: 90px;
    position: relative;
}
footer {
  position: relative;
}
.social {
  float: right;
  margin-top: -46px;
}
.social .icon i {
  font-size: 25px;
  color: #000;
}
.social .icon {
  background:#fff;
  margin-right: 10px;
  width: 40px;
  height: 40px;
}
.columns.design-web{
    margin-top: 80px;
}