#backgroundc {
	background-image: url('../img/header.jpg');
	width: 100%;
	height: 762px;
	background-attachment: fixed;
}
.slogan {
	top: 300px;
	position: absolute;
	padding: 15px;
    font-size: 35px;
    text-align: center;
    background: #5992fb;
    left: 373px;
    width: 600px;
    border-radius: 10px 10px 10px 10px;
    color: #fff;
}
.clone {
	top: 450px;
	position: absolute;
	padding: 15px;
    font-size: 25px;
    text-align: center;
    background: #5992fb;
    left: 533px;
    width: 228px;
    border-radius: 10px 10px 10px 10px;
    color: #fff;
    border: 0px;
}
.benefits-section h2 {
    color: #fff;
}
.page-careers-wrapper h2 {
    margin: 0 0 9px;
}
.page-wrapper h2 {
    text-align: center;
    font-size: 40px;
    font-family: 'Nexa-Light', sans-serif;
    margin-bottom: 20px;
    text-transform: uppercase;
    letter-spacing: 3px;
    color: #272727;
}
.benefits-section {
  background-color: #272727;
  width: 100%;
  padding: 60px 0;
  background-image: url('../img/benefits-bg.png');
  background-size: cover;
}
.benefits-section .container {
  max-width: 1150px;
  width: 1150px;
}
.benefits-section .container:before,
.benefits-section .container:after {
  content: " ";
  display: table;
  line-height: 0;
}
.benefits-section .container:after {
  clear: both;
}
@media screen and (max-width: 960px) {
  .benefits-section .container {
    width: 640px;
  }
}
@media screen and (max-width: 450px) {
  .benefits-section .container {
    width: 95%;
  }
}
.benefits-section h2 {
  color: #fff;
}
.benefits-section ul {
  *zoom: 1;
}
.benefits-section ul:before,
.benefits-section ul:after {
  content: " ";
  display: table;
  line-height: 0;
}
.benefits-section ul:after {
  clear: both;
}
.benefits-section li {
  height: 190px;
  margin: 0;
  width: 315px;
  float: left;
  position: relative;
}
.benefits-section li.benefit-bottom:before,
.benefits-section li.benefit-right:after {
  border: none;
}
@media screen and (min-width: 960px) {
  .benefits-section li:before {
    border-bottom: 1px solid #fff;
    content: " ";
    display: block;
    height: 190px;
    left: 10px;
    position: absolute;
    top: 0;
    width: 295px;
  }
  .benefits-section li:after {
    border-right: 1px solid #fff;
    content: " ";
    display: block;
    height: 170px;
    left: 0;
    position: absolute;
    top: 11px;
    width: 315px;
  }
}
.benefits-section .benefit-icon {
  margin: 37px auto 20px;
  float: none !important;
  background-image: url(../img/careers-sprite.png);
  background-repeat: no-repeat;
}
.benefits-section .benefit-icon.star {
  background-position: -3px 0;
  width: 72px;
  height: 70px;
}
.benefits-section .benefit-icon.plane {
  background-position: -329px 0;
  width: 70px;
  height: 70px;
}
.benefits-section .benefit-icon.computer {
  background-position: -635px 0;
  width: 112px;
  height: 70px;
}
.benefits-section .benefit-icon.beer {
  background-position: -2px -210px;
  width: 72px;
  height: 70px;
}
.benefits-section .benefit-icon.sun {
  background-position: -329px -210px;
  width: 70px;
  height: 70px;
}
.benefits-section .benefit-icon.plate {
  background-position: -649px -210px;
  width: 85px;
  height: 70px;
}
.benefits-section .benefit-icon.paw {
  background-position: 0 -429px;
  width: 76px;
  height: 70px;
}
.benefits-section .benefit-icon.barbell {
  background-position: -325px -429px;
  width: 78px;
  height: 70px;
}
.benefits-section .benefit-icon.controller {
  background-position: -640px -429px;
  width: 111px;
  height: 70px;
}
.benefits-section p {
  font-size: 16px;
  width: 222px;
  color: #fff;
  line-height: 1.25em;
  margin: 0 auto;
  text-align: center;
}
.benefits-section li {
  position: relative;
  cursor: default;
  -webkit-transition: all 0.4s ease-in-out;
  -moz-transition: all 0.4s ease-in-out;
  -o-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
  display: block;
  text-align: center;
}

.benefits-section li:hover {
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
}
.benefits-section li.active .benefit-overlay,
.benefits-section li:hover .benefit-overlay {
  -webkit-transform: scale(1);
  -moz-transform: scale(1);
  -o-transform: scale(1);
  -ms-transform: scale(1);
  transform: scale(1);
  opacity: 1;
}
.benefits-section .benefit-overlay {
  left: 0;
  position: absolute;
  top: 0;
  background: rgba(0, 142, 150, 0.9);
  width: inherit;
  height: inherit;
  opacity: 0;
  display: table;
  -webkit-transition: all 0.4s ease-in-out;
  -moz-transition: all 0.4s ease-in-out;
  -o-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
  -webkit-transform: scale(0);
  -moz-transform: scale(0);
  -o-transform: scale(0);
  -ms-transform: scale(0);
  transform: scale(0);
  -webkit-backface-visibility: hidden;
}
.benefits-section .benefit-overlay h5 {
  color: #fff;
  font-size: 16px;
  height: 140px;
  letter-spacing: 0;
  line-height: 22px;
  margin: 0;
  padding: 15px 15px 0;
  text-shadow: 0 0 1px #ffffff, 0 1px 2px rgba(0, 0, 0, 0.3);
  display: table-cell;
  vertical-align: middle;
}
@media screen and (min-width: 960px) {
  .benefits-section .benefit-overlay.bo-1 {
    height: 180px;
    left: 10px;
    top: 10px;
    width: 305px;
  }
  .benefits-section .benefit-overlay.bo-2 {
    height: 180px;
    left: 1px;
    top: 10px;
    width: 314px;
  }
  .benefits-section .benefit-overlay.bo-3 {
    height: 180px;
    left: 1px;
    top: 10px;
    width: 304px;
  }
  .benefits-section .benefit-overlay.bo-4 {
    height: 189px;
    left: 10px;
    top: 1px;
    width: 305px;
  }
  .benefits-section .benefit-overlay.bo-5 {
    height: 189px;
    left: 1px;
    top: 1px;
    width: 314px;
  }
  .benefits-section .benefit-overlay.bo-6 {
    height: 189px;
    left: 1px;
    top: 1px;
    width: 304px;
  }
  .benefits-section .benefit-overlay.bo-7 {
    height: 180px;
    left: 10px;
    top: 1px;
    width: 305px;
  }
  .benefits-section .benefit-overlay.bo-8 {
    height: 180px;
    left: 1px;
    top: 1px;
    width: 314px;
  }
  .benefits-section .benefit-overlay.bo-9 {
    height: 180px;
    left: 1px;
    top: 1px;
    width: 304px;
  }
}
.gkIcons {
    margin: 70px 0 0 0;
}
.gkIcons > div {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    float: left;
    padding: 0 10px;
    width: 33.3%;
}
.gkIconArea {
    background: transparent url(../img/icon_borders.png) no-repeat 0 0;
    height: 270px;
    margin: 0 auto 40px auto;
    position: relative;
    width: 270px;
}
.gkIcons > div h2 {
    font-size: 28px;
    font-weight: 300;
    line-height: 38px;
    margin-bottom: 22px;
    text-align: center;
}
.gkIcons > div p {
    font-size: 18px;
    font-weight: 300;
    text-align: center;
}
.gkIconArea > a {
    height: 126px;
    left: 50%;
    margin: -63px 0 0 -63px;
    position: absolute;
    text-indent: -9999px;
    top: 50%;
    -webkit-transition: all .3s ease-out!important;
    -moz-transition: all .3s ease-out!important;
    -ms-transition: all .3s ease-out!important;
    -o-transition: all .3s ease-out!important;
    transition: all .3s ease-out!important;
    width: 126px;
}
.gkRocket {
    background-image: url(../img/gkrocket.png);
}
.gkRocket {
    background-color: #fff;
    background-image: url(../img/gkrocket.png);
    background-position: center top;
}
.gkMobile {
    background-image: url(../img/gkmobile.png);
}


.gkMobile {
    background-color: #fff;
    background-image: url(../img/gkmobile.png);
    background-position: center top;
}
.gkCrop {
    background-image: url(../img/gkcrop.png);
}

.gkCrop {
    background-color: #fff;
    background-image: url(../img/gkcrop.png);
    background-position: center top;
}
.gkCrop:hover{background-color:#fe654c;background-position:center bottom;}

.gkRocket:hover{background-color:#4c90fe;background-position:center bottom;}
.gkMobile:hover{background-color:#fec54c;background-position:center bottom;}
.featured--section .container,
.service--section .container,
.section--ok .container,
.section--okk .container{
	max-width: 1150px;
	width: 1150px;
}
.title-s {
	  font-family: 'Open Sans', Arial, sans-serif;
    line-height: 44px;
    padding-bottom: 15px;
    text-align: center;
    font-size: 2rem;
    font-weight: 300;
    margin-bottom: 20px;
    text-transform: uppercase;
    letter-spacing: 3px;
    color: #272727;
}
.service--section {
	padding: 10px;
	padding-top: 100px;
}
.nd-s {
	text-align: center;
}
.featured--section::after, .featured--section::before {
    content: " ";
    display: table;
    line-height: 0;
}
.featured--section::after{
	clear: both;
}
.section--ok::after, .section--ok::before {
    content: " ";
    display: table;
    line-height: 0;
}
.section--ok::after{
	clear: both;
}
.gkHorizontalSlideLeftColumn {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    float: left;
    padding: 120px 0 0 0;
    width: 38%;
    }
.gkHorizontalSlideRightColumn {
    float: right;
    margin: 0 0 -170px 0;
    overflow: hidden;
    padding: 50px 0 60px 0;
    width: 60%;
}
.section--ok {
	background:rgba(34, 34, 34, 0.16);
	padding:100px 0px;
}
.section--okk {
	height: 700px;
	background:#fff;
	padding:100px 0px;
}
.button {
    background: #4c90fe;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    color: #fff;
    font-size: 18px;
    height: 54px;
    line-height: 55px;
    margin-top: 20px;
    padding: 0 36px;
}
.ip {
	float: right;
}
.customcentered{
  height: 605px;
}
.bootom-footer {
    background: #272727;
    height: 90px;
    position: relative;
}
footer {
  position: relative;
}